#grid_container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

#container {
    /* background: #249ff1; */
    width: 10vmin;
    height: 100vmin;
    margin: 10px;
    float:left;
    text-align: center;
    font-size: 100%;
    flex-grow: 1;
  }

#img_div {
    /* background-color: chocolate; */
    font-size: 40px;
    width: 182vmin;
    height: 72vmin;
    float: right;
    flex-grow: 1;
}

#img {
    width: 182vmin;
    height: 72vmin;
    float:right;
    text-align: center;
}
  
  