#grid_container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

#container {
    /* background: #249ff1; */
    min-width: 100vmin;
    max-height: 10vmin;
    width: 100vmin;
    height: 10vmin;
    margin: 10px;
    text-align: left;
    font-size: 100%;
  }

#img_div {
    /* background-color: chocolate; */
    font-size: 40px;
    min-height: 40vmin;
    max-width: 200vmin;
    max-height: 79vmin;
    width: 200vmin;
    height: 79vmin;
    vertical-align: middle;
    align-self: center;
    align-items: center;
    text-align: center;
}

#img {
    min-height: 40vmin;
    max-width: 200vmin;
    max-height: 79vmin;
    width: 200vmin;
    height: 79vmin;
    text-align: center;
    vertical-align: middle;
}
  
  